about-time==4.2.1
alive-progress==3.1.5
altgraph==0.17.4
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.21.2
Flask==3.0.3
grapheme==0.6.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pathvalidate==3.2.0
pbr==6.0.0
pefile==2023.2.7
pillow==10.4.0
pyasn1==0.6.0
Pygments==2.18.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pypiwin32==223;sys_platform == 'win32'
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32==306;sys_platform == 'win32'
pywin32-ctypes==0.2.2;sys_platform == 'win32'
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
rstr==3.2.2
setuptools==70.2.0
six==1.16.0
soupsieve==2.5
stevedore==5.2.0
sv-ttk==2.6.0
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
win32-setctime==1.1.0
