<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <meta name="title" content="">
    <meta name="robots" content="index, follow">

    <!-- External resources: jQuery, jQuery-CSV, Chart.js, Material Icons -->
    <script rel="preconnect" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha384-4Fu9f2E2aqCftKfT+f6UqEoOmfRTkSAJukq93vMioDRhoHmpgTBpJFiQ33dAYtJo" crossorigin="anonymous"></script>
    <script rel="preconnect" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js" integrity="sha384-JUh163oCRItcbPme8pYnROHQMC6fNKTBWtRG3I3I0erJkzNgL7uxKlNwcrcFKeqF" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <script src="/static/script.js"></script>
</body>
</html>