<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <!-- Primary Meta Tags -->
        <link href="static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <meta content="" name="title"/>
        <meta content="index, follow" name="robots"/>
        <!-- External resources: jQuery, jQuery-CSV, Chart.js, Material Icons, Roboto -->
        <script crossorigin="anonymous" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" rel="preconnect" src="https://code.jquery.com/jquery-3.7.1.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-4Fu9f2E2aqCftKfT+f6UqEoOmfRTkSAJukq93vMioDRhoHmpgTBpJFiQ33dAYtJo" rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-JUh163oCRItcbPme8pYnROHQMC6fNKTBWtRG3I3I0erJkzNgL7uxKlNwcrcFKeqF" rel="preconnect" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js">
        </script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet"/>
        <title>
            Home
        </title>
    </head>
    <body color="dark">
        {% block content %}{% endblock %}
        <script src="/static/script.js">
        </script>
    </body>
</html>
