body, body[color="light"] {
    --background-color:#e0e0e0;
    --tab-color:#e0e0e0;
    --tab-color-inactive:#878787;
    --tab-ctr-color:#545454;
    --font-color:#262626;
    --active-color:173, 88, 252;
    --grid-color: #d3ccdf;
}

body[color="dark"] {
    --background-color:#172a4a;
    --tab-color:#172a4a;
    --tab-color-inactive:#101b2e;
    --tab-ctr-color:#13161a;
    --font-color:#9e9e9e;
    --active-color: 98, 122, 255;
    --grid-color: #424251;
}

body[color="red"] {
    --background-color:#520000;
    --tab-color:#910b0b;
    --tab-color-inactive:#4d2e2e;
    --tab-ctr-color:#1d0000;
    --font-color:#f7c1c1;
    --active-color: 212, 34, 34;
    --grid-color: #844e4e;
}

body[color="blue"] {
    --background-color:#c1cff7;
    --tab-color:#c1cff7;
    --tab-color-inactive:#edf0f7;
    --tab-ctr-color:#375bbf;
    --font-color:#050f2e;
    --active-color: 98, 122, 255;
    --grid-color: #9fb2e1;
}

body[color="green"] {
    --background-color:#114a08;
    --tab-color:#114a08;
    --tab-color-inactive:#4f7949;
    --tab-ctr-color:#092e03;
    --font-color:#e0ffdb;
    --active-color: 60, 226, 54;
    --grid-color: #586f59;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Nunito';
}

label:has(+ div>.required) > span:not(.file-upload)::after, label:has(+ .required) > span:not(.file-upload)::after {
    content: '*';
    color: red;
}

#requiredHeader {
    text-align: center;
    display: block;
}

#requiredHeader::before {
    content: '*';
    color: red;
}

.filechart {
    display: none
}

/* TABS */
#tabHandles {
    display: grid;
    grid-auto-flow: column;
    width: max-content;
    overflow: hidden;
}

#handlesCtr {
    margin: 0;
    background-color: var(--tab-ctr-color);
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#handlesCtr > div {
    display: flex;
    align-items: end;
    overflow: hidden;
}

.tab:not(.active) {
    display: none;
}

.tab {
    padding: 1rem;
}

.tab h1 {
    text-align: center;
}

.tab-handle {
    position: relative;
    width: max-content;
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--tab-ctr-color);
    border-bottom: 0;
    background-color: var(--tab-color-inactive);
    padding: 0.35rem 1rem;
    padding-inline-end: 0.5rem;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.input-tab {
    padding-inline-end: 1rem;
}

.tab-handle .close {
    visibility: hidden;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.33rem;
    transition: background-color 0.1s ease;
}

.tab-handle .close:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.tab-handle:hover .close {
    visibility: initial;
}

.tab-handle.active {
    background-color: var(--tab-color);
}

.tab-handle.active .close {
    visibility: initial;
}

.moreTabs {
    display: block;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--font-color);
    height: fit-content;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.moreTabs:hover {
    background-color: rgba(var(--active-color), 0.15);
}

#handlesCtr > div:last-child {
    position: absolute;
    right: 0;
    background-color: var(--tab-ctr-color);
}

/* INPUT */
.calcForm *:is(input, select, .checkbox_repl) {
    margin: auto;
    display: block;
    margin-block: 0.25rem;
}

.file-ctr > div {
    display: flex;
    margin-block: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.option {
    width: 75%;
    margin: auto;
}

.file-ctr label, .option label {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 0.25rem;
    width: fit-content;
}

form.calcForm {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.calcForm button[type="submit"] {
    width: min-content;
    display: block;
    margin: auto;
    margin-top: 1rem;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(var(--active-color));
    color: rgb(var(--active-color));
    padding: 0.5em 2em;
    border-radius: 3em;
    font-size: 1.1rem;
    transition: padding 0.5s ease;
}

.calcForm button[type="submit"]:not(:disabled):hover {
    padding: 0.5em 2.5em;
}

.calcForm button[type="submit"]:disabled {
    border-color: #aaa;
}

.error {
    color: red;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    display: none;
}

.error.show {
    display: block;
}

/* Common input styles */

.calcForm input[type="text"], .calcForm input[type="number"], .calcForm select, .calcForm .file-upload {
    background: var(--background-color);
    outline: 1px solid currentColor;
    color: var(--font-color);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    border: 0;
    text-align: center;
    max-width: 50%;
}

.calcForm input[type="text"]:focus-visible, .calcForm input[type="number"]:focus-visible, .calcForm select:focus-visible, .calcForm .file-upload:focus-visible {
    outline: rgb(var(--active-color)) solid 2px;
}

.calcForm input[type="text"].missing, .calcForm input[type="number"].missing, .calcForm select.missing, .calcForm .file-upload.missing, .calcForm input[type="checkbox"].missing {
    outline: red solid 2px;
}

.calcForm input:disabled, .calcForm select:disabled, .calcForm button:disabled, .calcForm .file-upload.disabled {
    color: #aaa;
    cursor: default;
}

/* Checkbox */

.calcForm input[type="checkbox"] {
    display: none;
}

.calcForm .checkbox_repl {
    aspect-ratio: 1/1;
    width: 1rem;
    outline: 1px solid var(--font-color);
    border-radius:  0.25em;
    position: relative;
}

.calcForm .checkbox_repl:focus {
    outline: rgb(var(--active-color)) solid 2px;
}

.checkbox_repl::after {
    position: absolute;
    inset: 0.25rem;
    background-color: rgb(var(--active-color));
    border-radius: 50%;
}

.calcForm input[type="checkbox"]:checked + .checkbox_repl::after {
    content: '';
}

.option label:has(input) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Number */

.calcForm input[type="number"] {
    position: relative;
    -moz-appearance: textfield;
    appearance: textfield;
}

.calcForm input[type="number"]::-webkit-outer-spin-button,
.calcForm input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Select */
.calcForm select{
    position: relative;
    border-right: 0.5rem solid transparent;
    overflow: auto;
}

.calcForm select[multiple] {
    border: 0;
}

.calcForm select[multiple] option {
    padding: 0.25rem;
    border-radius: 1rem;
}

.calcForm select[multiple] option:checked {
    background-color: rgb(var(--active-color));
}

/* Arrays */
.option_array {
    font-size: 0.85rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.option_array > div {
    width: 8rem;
    margin: 0.15rem;
}

/* Files */
.calcForm input[type="file"] {
    display: none;
}

.calcForm .file-upload {
    cursor: pointer;
}

.calcForm .file-upload + .filename {
    font-size: 0.9em;
    opacity: 0.8;
}

.file-ctr div>label {
    margin-block: 0;
}

/* Output */
.output {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.output-ctr {
    flex-grow: 1;
    overflow: hidden;
}

/* Graphs */
.output-graph {
    flex-basis: 100%;
}

/* Tables */
.output-ctr table {
    border-collapse: collapse;
    border-color: var(--font-color);
    border-style: hidden;
    overflow-x: auto;
}

.output-ctr table thead {
    border-bottom: 1px solid;
}

.output-ctr table th, table td {
    padding: 0.25rem 0.55rem;
    border-inline: 1px solid;
}

.table-ctr {
    overflow-x: auto;
}

@media screen and (max-width: 400px) {
    .output {
        padding: 0;
    }
}

@media print {
    #handlesCtr {
        display: none;
    }
    .output {
        gap: 0.5rem;
    }
    .output-ctr canvas {
        margin: auto;
    }
    body {
        width: 1024px;
    }
    .download-btn {
        display: none !important;
    }
    .table-ctr {
        overflow: hidden;
    }
}